<div class="add-section">
    <div class="head">
        <h1>Add Company</h1>
    </div>
    <div class="form-body">
        <form action="" (ngSubmit) = "onSubmit()" [formGroup] = "company">
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName = "name">
            </mat-form-field>
            <div *ngIf="submitted && formValidation.name.errors" class="text-danger">
                <div *ngIf="formValidation.name.errors?.required">Name is required.</div>
            </div>
            <mat-form-field appearance="standard">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName = "address">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName = "email">
            </mat-form-field>
            <div *ngIf="submitted && formValidation.email.errors" class="text-danger">
                <div *ngIf="formValidation.email.errors?.required">Email is required.</div>
            </div>
            <mat-form-field appearance="standard">
                <mat-label>Phone no</mat-label>
                <input matInput type="tel" formControlName = "phone">
            </mat-form-field>
            <div *ngIf="submitted && formValidation.phone.errors" class="text-danger">
                <div *ngIf="formValidation.phone.errors?.required">Phone no is required.</div>
            </div>
            <div formGroupName="employee">
                <h3>Employee Details</h3>
                <mat-form-field appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName = "name">
                </mat-form-field>
                <div *ngIf="submitted && formValidation.name.errors" class="text-danger">
                    <div *ngIf="formValidation.name.errors?.required">Employee name is required.</div>
                </div>
                <mat-form-field appearance="standard">
                    <mat-label>designation</mat-label>
                    <mat-select formControlName="designation">
                      <mat-option *ngFor = "let list of employeeDesignation" [value]='list'>{{list}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]= "picker" [max] ='today' formControlName = "date">
                    <mat-datepicker-toggle matSuffix [for]= "picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <div *ngIf="submitted && formValidation.date.errors" class="text-danger">
                    <div *ngIf="formValidation.date.errors?.required">Date is required.</div>
                </div> -->
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName = "email">
                </mat-form-field>
                <div *ngIf="submitted && formValidation.email.errors" class="text-danger">
                    <div *ngIf="formValidation.email.errors?.required">Employee email is required.</div>
                </div>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput type="tel" formControlName = "phone">
                </mat-form-field>
                <div *ngIf="submitted && formValidation.phone.errors" class="text-danger">
                    <div *ngIf="formValidation.phone.errors?.required">Employee Phone no is required.</div>
                </div>
                <div formGroupName ="skills">
                    <h3>Skills</h3>
                    <mat-form-field appearance="standard">
                        <mat-label>Skill Set</mat-label>
                        <mat-select formControlName="name" multiple>
                          <mat-option *ngFor = "let list of skills" [value]='list'>{{list}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Rating</mat-label>
                        <input matInput type="number" formControlName = "rating" min="1" max="5">
                    </mat-form-field>
                </div>
                <div formGroupName="education">
                    <h3>Education</h3>
                   <div formArrayName="school">
                        <div *ngFor="let ed of school.controls;let i = index">
                            <div [formGroupName]= "i">
                                <mat-form-field>
                                    <mat-label>Schl</mat-label>
                                    <input matInput type="text" formControlName = "school">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Course</mat-label>
                                    <input matInput type="text" formControlName = "course">
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Date</mat-label>
                                    <input matInput [matDatepicker]= "picker2" [max] ='today' formControlName = "year">
                                    <mat-datepicker-toggle matSuffix [for]= "picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                   </div>
                </div>
                
            </div>
            <button mat-raised-button color="warn" (click)="addSchool()">skul</button>
            <button mat-raised-button color="primary" type="submit">Add</button>
        </form>
    </div>
</div>