form .mat-form-field{
    display: block;
    width: 500px;
}
.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    text-transform: capitalize;
    font-weight: bold;
}

.text-danger{
    color: red;
}

.add{
    text-align: right;
}

.add a{
    color: blue;
}
.add:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .add-section{width: 100%;
    padding: 20px;}
}