<div class="add-section">
    <div class="head">
        <h1>Add Company</h1>
    </div>
    <div class="form-body">
        <form action="" (ngSubmit) = "onSubmit()">
            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput placeholder="company" formControlName="name">
            </mat-form-field>
        </form>
    </div>
</div>