.toggle{
    position: relative;
    left:95%;
    right:5%;
    overflow: hidden !important;
}
label{
    font-size: 26px;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    display: none;
}

#tog{
    display: none;
}

ul{
    padding-inline-start: 0px !important;
    margin-top: 30px;
}
/* .nav li:first-child{
    border-top: 1px solid #ffffff;
} */
.nav li{
    padding: 20px 20px 5px 20px;
    border-bottom: 1px solid #ffffff;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: #ffffff;
}
.nav li:hover{
    background-color: #ffffff;
    cursor: pointer;
}
.nav a:hover{
    color: #5F5F5F;
}

@media only screen and (max-width: 768px){
    ul{
        margin: 0px;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .nav{
        display: none;
        text-align: center;
    }
    #tog:checked + .nav{
        display: block;
    }
}