.head{
    background-color: #424242;
}
table{
    width: 90%;
}
mat-paginator{
    width: 90%;
}
.table{
 margin-left: 10%;
}

.button{
    margin-right: 20px;
}
th.mat-sort-header-sorted{
    color: #ffffff;
}

@media only screen and (max-width: 768px){
    .container{
        height: 100vh;
    }
}